#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  width: 50vw;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
}
.buttons button {
  background-color: #00ABE4;
}
.buttons button:hover{
  /* background-color: rgb(69, 69, 69); */
  background-color: rgb(19, 105, 255);
  transition: 0.7s ease;
  border-color: transparent;
}

.count {
  font-weight: 800;
  color: #1A325B;
  padding: 40px 0;
}

.results {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.results p{
  font-weight: 800;
  color: #1A325B;
}

.progress-bar {
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  width: 70%;
  height: 10px;
  justify-content:flex-start;
}

.progress1 {
  height: 10px;
  width: 100%;
  background-color: #294980;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .progress-bar {
    width: 90%; 
  }
}

